.contenedor {
  width: 100%;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.lado-izquierdo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
  padding: 36px;
}

.lado-derecho {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1 1 100%;
}
