<div class="contenedor">
    <mat-toolbar>
        <span>Crear producto</span>
    </mat-toolbar>
    <mat-card class="producto">
        <div class="titulo-crear_producto">Crear Producto</div>
        
        <form [formGroup]="form" (ngSubmit)="agregarProducto()">
            <mat-grid-list cols="4" rowHeight="70px">
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Id</mat-label>
                        <input matInput autocomplete="off" formControlName="id">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="3" [rowspan]="5">
                    <img src="./assets/productos.webp" width="500" height="200">
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Nombre</mat-label>
                        <input matInput autocomplete="off" formControlName="nombre">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Descripción</mat-label>
                        <input matInput autocomplete="off" formControlName="descripcion">
                    </mat-form-field>
                </mat-grid-tile>
                <mat-grid-tile [colspan]="1" [colspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Valor</mat-label>
                        <mat-select formControlName="valor">
                          <mat-option *ngFor="let item of valor" [value]="item">
                            {{item}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [rowspan]="1">
                    <mat-form-field class="ancho">
                        <mat-label>Imagen</mat-label>
                        <input matInput autocomplete="off" formControlName="imagen">
                    </mat-form-field>
                </mat-grid-tile>

                <mat-grid-tile [colspan]="1" [colspan]="1">
                    <button (click)="regresar()" style="margin-right: 20px;">Volver</button>
                    <button type="submit" [disabled]="form.invalid" mat-raised-button color="primary">Aceptar</button>
                </mat-grid-tile>
            </mat-grid-list>
         </form>
    </mat-card>
</div>
