<mat-toolbar color="primary">
  <button
    mat-icon-button
    aria-label="home icon"
    [routerLink]="['/home']"
    routerLinkActive="router-link-active"
  >
    <mat-icon fontSet="material-icons-outlined">home</mat-icon>
    <span>App CRUD</span>
  </button>

  <span class="espacios"></span>
  <button mat-button>Productos</button>
  <button mat-button>Pdvs</button>
  <button mat-button>Ciudades</button>  
  <button mat-button>Pdvs</button>
  <button mat-button>Ciudades</button>
  <button mat-button>Sedes</button>
  <button mat-button>Zonas</button>
  <span class="espacios"></span>
</mat-toolbar>
